<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Galeri Video</title>
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
	<body>
        <div id="wrapper"> 
            <div id="container"> 
                <header></header> 
                <nav>                       
                    <ul>
                        <li><a href="Beranda.html">Home</a></li>
                        <li><a href="#">Artikel</a>
                            <ul class="submenu">
                                <li><a href="artikel.html">Wisata Religi</a></li>
                                <li><a href="artikel2.html">Wisata Alam</a></li>
                            </ul>
                        </li>
                        <li><a href="galeryvideo.html">Video</a></li>
                        <li><a href="#">Kontak</a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>
                </nav>             
                <div id="content" style="width:580px">
                    <div id="single" style="width:580px;">
                        <h2>Galeri Video</h2>
                        <p>
                        <h2 class="video-title"><a href="video1.html">Renungan Untuk Mahasiswa</a></h2>
                        Uploaded on June 2011, 2099 views.
                        </p>
                        <p>
                        <h2 class="video-title"><a href="video2.html">Wajib Belajar - Merpati Choir</a></h2>
                        Uploaded on September 2011, 39 views.
                        </p>
                    </div>
                </div> 
                <div id="sidebar">
                    <li class="widget">
                        <h2>Posting Populer</h2>
                        <ul>
                            <li><a href="artikel2.html">Masjid Agung Madani Islamic Center</a></li>
                            <li><a href="artikel.html">Wisata Hapanasan</a></li>
                        </ul>
                    </li>
                    <li class="widget">
                        <h2>Posting Komentar</h2>
                        <ul>
                            <li><a href="artikel2.html">Masjid Agung Madani Islamic Center</a></li>
                            <li><a href="artikel.html">Wisata Hapanasan</a></li>
                        </ul>
                    </li>
                    <li class="widget">
                        <h2>Audio</h2>
                        <audio src="audio/Andra%20Respati%20&%20Ovhi%20Firsty%20-%20Manunggu%20Janji.mp3" controls>Manunggu Janji</audio>
                    </li>
                    <li class="widget">
                        <h2>Video</h2>
                       <video src="video/Tari%20Indang%20Badinding.mp4" width="300 px"controls></video>
                    </li>
                </div> 
                <footer>                     
                   <div id="column">
                        <h2>Dapatkan Bantuan dan Dukungan</h2>
                        Untuk mendapatkan petunjuk atau dukungan dari kami, kunjungi situs <a href="#">www.annopujakesuma.com</a> dan submit form anda.
                    </div> 
                    <div id="column">
                        <h2>Hubungi Kami</h2>
                        Jl. Padang Luhong<br>
                        Rokan Hulu, Riau<br>
                        +6281365022552
                    </div> 
                    <div id="column">
                        <h2>Temukan Kami di ...</h2>
                        <a href="https://www.facebook.com/annopujakesuma">Facebook</a><br>
                        <a href="#">Twitter</a>
                    </div> 
                </footer>
            </div> 
        </div>
    </body>
</html>